﻿@model IEnumerable<WebBanHangOnline.Models.ShoppingCartItem>
@using WebBanHangOnline.Common

<div style="margin-top: -358px;">
    @if (Model != null && Model.Any())
    {
        <h3>ĐƠN HÀNG <span style="border: 1px solid; float: right; position: relative; border-radius: 34px; width: 35px; height: 35px; background-color: darkblue;"><small style="position: relative; left: 12px; top: -4px; color: white; font-size: 16px;">@Model.Count()</small></span></h3>
        var tongtien = decimal.Zero;
        <div style="border:1px solid #808080;">
            <table class="table">
                <tr>
                    <td>Sản phẩm</td>
                    <td>SL</td>
                    <td>Giá</td>
                </tr>
                @foreach (var item in Model)
                {
                    tongtien += item.TotalPrice;
                    <tr>
                        <td>@item.ProductName</td>
                        <td>@item.Quantity</td>
                        <td>@Common.FormatNumber(item.Price, 0)</td>

                    </tr>
                }
                <tr>
                    <td>Tổng tiền</td>
                    <td></td>
                    <td>@Common.FormatNumber(tongtien, 0)</td>
                </tr>
            </table>
        </div>

    }
    else
    {

    }
</div>
