<!DOCTYPE html>
<html>
<head>
    <title>Badminton Shop</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Colo Shop Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="~/Content/assets/styles/bootstrap4/bootstrap.min.css">
    <link href="~/Content/assets/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="~/Content/assets/plugins/OwlCarousel2-2.2.1/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="~/Content/assets/plugins/OwlCarousel2-2.2.1/owl.theme.default.css">
    <link rel="stylesheet" type="text/css" href="~/Content/assets/plugins/OwlCarousel2-2.2.1/animate.css">

    @*@RenderSection("css", required: false)*@
    <link rel="stylesheet" type="text/css" href="~/Content/assets/styles/responsive.css">
    <link href="~/Content/PagedList.css" rel="stylesheet" />
    @*@Styles.Render("~/Content/css")*@
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Content/assets/js/jquery-3.2.1.min.js"></script>
    @Scripts.Render("~/bundles/jqueryval")

    <style>
        .btn-info:hover {
            cursor: pointer;
        }

        .search-container {
            position: relative;
        }

        .options {
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            background-color: white;
            border: 1px solid #ccc;
            border-top: none;
            padding: 5px;
        }

            .options a {
                display: block;
                padding: 5px;
                text-decoration: none;
                color: #333;
            }

                .options a:hover {
                    background-color: #f0f0f0;
                }
    </style>

</head>
<body>
    <div class="super_container">

        <!-- Header -->

        <header class="header trans_300">

            <!-- Top Navigation -->
            <!-- Main Navigation -->

            <div class="main_nav_container" style="height:75px">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 text-right">
                            <div class="logo_container" style="margin-left: -135px; margin-top: 13px ">
                                <a href="/">
                                    <img src="/Uploads/images/Logo.jpg" style="width: 60px;height: 60px;position: relative;top: -8px;left: 5px;">
                                    <span style="position: relative;color:darkblue;top: -16px;left: -12px;font-size: 40px;">QA</span>
                                    <span style="position: relative;top: 12px;left: -65px;font-size: 28px;">Store</span>
                                </a>

                                <span style="color: black;font-size: 15px;left: 55px;position: relative;top: -13px;">
                                    <i class="fa fa-headphones" style="font-size:17px"></i> <span style="font-size:12px; font-weight:600">HOTLINE: </span>  <span style="position: relative;font-family: revert-layer;font-size: 12px;top: 15px;left: -73px;">0355917834</span>
                                </span>

                                <div class="input-group input-group-sm" style="position: relative;top: -55px;left: 359px;width: 261px;">
                                    @*@Html.TextBox("Searchtext", null, new { style = "width: 85%", placeholder = "Tiêu đề ..." })*@
                                    <div class="search-container" style="">
                                        @*<input type="text" name="searchtext" class="form-control" placeholder="Tìm sản phẩm..." onclick="showOptions()" onkeypress="handleKeyPress(event)" style="background-color: aliceblue; width: 202px">*@
                                        @*@using (Html.BeginForm("Index", "Products", FormMethod.Post, new { }))
                                            {
                                                <div class="input-group input-group-sm" style="position: absolute;">

                                                    @Html.TextBox("SearchText", ViewBag.SearchText as string, new
                                                    {
                                                        @class = "form-control",
                                                        placeholder = "Tìm sản phẩm...",
                                                        style = "background-color: aliceblue; width: 202px",

                                                    })
                                                    <span class="input-group-append">
                                                        <button type="submit" class="btn btn-info btn-flat" style="background-color: aliceblue; color: grey"onclick="window.location.href='/products'">
                                                            <i class="fa fa-search"></i>
                                                        </button>
                                                    </span>
                                                </div>
                                            }*@
                                        @using (Html.BeginForm("Index", "Products", FormMethod.Post, new { @class = "search-form" }))
                                        {
                                            <div class="input-group input-group-sm" style="position: absolute;">
                                                @Html.TextBox("SearchText", ViewBag.SearchText as string, new
                                                {
                                                    @class = "form-control",
                                                    placeholder = "Tìm sản phẩm...",
                                                    style = "background-color: aliceblue; width: 202px"
                                                })
                                                <span class="input-group-append">
                                                    <button type="submit" class="btn btn-info btn-flat" style="background-color: aliceblue; color: grey">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        }


                                        @*<div class="options" id="options" style="display: none; height: 64px; width: 242px; border-radius: 0 0 20px 20px;">
                                                <p style=" border-bottom: 1px solid; font-size: 8px; text-align: left; "><i class="fa fa-fire"></i>Sản phẩm hot:</p>
                                                <a href="/danh-muc-san-pham/vot-cau-long-lining-19" style="position: absolute; border: 1px solid; border-radius: 20px; font-size: 9px; top: 24px;">Vợt cầu lông lining</a>
                                                <a href="/danh-muc-san-pham/ao-cau-long-yonex-14" style=" position: absolute; border: 1px solid; border-radius: 20px; font-size: 9px; top: 24px; left: 125px;">Áo cầu lông yonex</a>
                                            </div>*@
                                    </div>
                                    <span class="input-group-append">
                                        <button type="button" class="btn btn-info btn-flat" style="background-color: aliceblue; color: gray" onclick="window.location.href='/products'">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                </div>

                            </div>
                            <nav class="navbar">
                                @Html.Action("MenuTop", "Menu")
                                <ul class="navbar_user" style="margin-top: -25px;margin-right: -195px;">
                                    @*<li><a href="#"><i class="fa fa-search" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-user" aria-hidden="true"></i></a></li>*@

                                    <li class="checkout" style=" position: relative; top: -12px; left: 22px; ">
                                        <a href="/gio-hang">
                                            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                            <span style=" top: -3px; left: 29px; " id="checkout_items" class="checkout_items">0</span>
                                        </a>
                                    </li>

                                    @if (!Request.IsAuthenticated)
                                    {


                                        <li class="account " style="background-color: white;position: relative;top: -12px;left: 53px;">
                                            <a href="">
                                                <i class="fa fa-user-circle" aria-hidden="true" style="font-size: 35px; "></i>
                                            </a>
                                            <ul class="account_selection">
                                                <li><a href="/account/login" style="font-size: 15px; width: 100px; margin-left: -13px; background-color: white ">Đăng nhập</a></li>
                                                <li><a href="/account/register" style="font-size: 15px; width: 100px; margin-left: -13px; border-radius: 0 0 5px 4px; background-color: white ">Đăng ký</a></li>
                                            </ul>
                                        </li>


                                        <li style=" position: relative; top: 22px; left: -96px; ">Giỏ hàng</li>


                                        <li style=" position: relative; top: 22px; left: -65px; ">Tài khoản</li>
                                    }
                                    else
                                    {
                                        <li class="account " style="background-color: white;position: relative;top: -12px;left: 53px;">
                                            <a href="">
                                                <i class="fa fa-user-circle" aria-hidden="true" style="font-size: 35px; "></i>
                                            </a>
                                            <ul class="account_selection">
                                                <li><a href="" style="font-size: 15px; width: 100px; margin-left: -13px; background-color: white ">Thông tin</a></li>
                                                <li><a href="javascript:document.getElementById('logOffForm').submit()" style="font-size: 15px; width: 100px; margin-left: -13px; border-radius: 0 0 5px 4px; background-color: white ">Đăng xuất</a></li>
                                            </ul>
                                        </li>
                                        <li style=" position: relative; top: 22px; left: -96px; ">Giỏ hàng</li>
                                        <li style=" position: relative; top: 22px; width: 68px; left: -65px; ">@User.Identity.Name</li>
                                    }
                                </ul>
                                @if (Request.IsAuthenticated)
                                {
                                    <div style="display:none">
                                        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { @id = "logOffForm" }))
                                        {
                                            @Html.AntiForgeryToken()}
                                    </div>
                                }
                                @*<div class="hamburger_container">
                                        <i class="fa fa-bars" aria-hidden="true"></i>
                                    </div>*@
                            </nav>
                        </div>
                    </div>
                </div>
            </div>

        </header>

        @*<div class="fs_menu_overlay"></div>
            <div class="hamburger_menu">
                <div class="hamburger_close"><i class="fa fa-times" aria-hidden="true"></i></div>
                <div class="hamburger_menu_content text-right">
                    <ul class="menu_top_nav">

                        <li class="menu_item has-children">
                            <a href="#">
                                Sản phẩm
                                <i class="fa fa-angle-down"></i>
                            </a>
                            <ul class="menu_selection">
                                <li><a href="#">Vợt cầu lông</a></li>
                                <li><a href="#">Áo cầu lông</a></li>
                                <li><a href="#">Quần cầu lông</a></li>
                                <li><a href="#">Váy cầu lông</a></li>
                                <li><a href="#">Giầy cầu lông</a></li>
                                <li><a href="#">Túi đựng</a></li>
                                <li><a href="#">Phụ kiện</a></li>
                            </ul>
                        </li>


                        <li class="menu_item has-children">
                            <a href="#">
                                Tài khoản
                                <i class="fa fa-angle-down"></i>
                            </a>
                            <ul class="menu_selection">
                                <li><a href="#"><i class="fa fa-sign-in" aria-hidden="true"></i>Đăng nhập</a></li>
                                <li><a href="#"><i class="fa fa-user-plus" aria-hidden="true"></i>Đăng xuất</a></li>
                            </ul>
                        </li>
                        <li class="menu_item"><a href="#">Trang chủ</a></li>
                        <li class="menu_item"><a href="#">Tin tức</a></li>
                        <li class="menu_item"><a href="#">Liên hệ</a></li>
                        <li class="menu_item"><a href="#">Blog</a></li>

                    </ul>
                </div>
            </div>*@
        @RenderBody()

        <!-- Newsletter -->
        @*<div class="newsletter">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="newsletter_text d-flex flex-column justify-content-center align-items-lg-start align-items-md-center text-center">
                                <h4>Newsletter</h4>
                                <p>Subscribe to our newsletter and get 20% off your first purchase</p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <form action="post">
                                <div class="newsletter_form d-flex flex-md-row flex-column flex-xs-column align-items-center justify-content-lg-end justify-content-center">
                                    <input id="newsletter_email" type="email" placeholder="Your email" required="required" data-error="Valid email is required.">
                                    <button id="newsletter_submit" type="submit" class="newsletter_submit_btn trans_300" value="Submit">subscribe</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>*@

        <!-- Footer -->

        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="footer_nav_container d-flex flex-sm-row flex-column align-items-center justify-content-lg-start justify-content-center text-center">
                            <ul class="footer_nav">
                                @*<li><a href="#">Blog</a></li>
                                    <li><a href="#">FAQs</a></li>*@
                                <li><a href="#">Liên hệ với chúng tôi</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="footer_social d-flex flex-row align-items-center justify-content-lg-end justify-content-center">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-skype" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="footer_nav_container" style="background-color: #002254; margin-top: -52px; margin-left: -213px; margin-right: -213px; ">
                            <div style="color:white; text-align:center">© CÔNG TY TNHH QA STORE</div>
                            <div style="color:white; text-align:center; font-size:21px">Chủ sở hữu website: Nguyễn Quốc Anh</div>
                            <div class="logo_container" style="text-align: center; font-size: 21px; position: relative; top: 45px; left: 682px; width: 163px; height: 46px; background-color: white; border-radius: 25px;">
                                <a href="/" style=" position: relative; top: 11px; ">
                                    <span style="color:darkblue;font-size: 28px;">QA</span>
                                    <span style="font-size: 28px;">Store</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

    </div>


    <script>

        function showOptions() {
            var options = document.getElementById("options");
            options.style.display = "block";
        }

        document.addEventListener('click', function (event) {
            var options = document.getElementById("options");
            var searchInput = document.querySelector('input[name="searchtext"]');
            if (!searchInput.contains(event.target) && !options.contains(event.target)) {
                options.style.display = "none";
            }
        });

        function handleKeyPress(event) {
            if (event.keyCode === 13) { // Kiểm tra nếu phím Enter được nhấn
                window.location.href = '/products'; // Chuyển hướng đến /products
            }
        }

            //window.addEventListener("scroll", function () {
            //    var header = document.querySelector(".header");
            //    if (window.scrollY > 100) {
            //        header.style.top = "0";
            //    } else {
            //        header.style.top = "75px";
            //    }
            //});



    </script>


    <script src="~/Content/assets/styles/bootstrap4/popper.js"></script>
    <script src="~/Content/assets/styles/bootstrap4/bootstrap.min.js"></script>
    <script src="~/Content/assets/plugins/Isotope/isotope.pkgd.min.js"></script>
    <script src="~/Content/assets/plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
    <script src="~/Content/assets/plugins/easing/easing.js"></script>
    <script src="~/Content/assets/js/Custom2.js"></script>
    <script src="~/Scripts/jsShopping.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    @*@Scripts.Render("~/bundles/jquery")*@
    @*@Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)
</body>
</html>
