@model IEnumerable<WebBanHangOnline.Models.EF.ProductCategory>

@if (Model != null && Model.Any())
{
    <div style=" height: 1px;"> <a style="position: relative; left: 1188px; top: 629px; color: gray; font-size: 75px; text-align: center; color: #428BCA; " href="/gio-hang"><i style="" class="fa fa-shopping-cart"></i></a></div>
    <div class="row">
        <div class="col text-center">
            <div class="section_title new_arrivals_title" style="font-family: 'FontAwesome' ">
                <h2>MỘT SỐ MẪU <a style="border-bottom: 1px solid; color: #fe4c50; " href="/products">SẢN PHẨM</a> THAM KHẢO</h2>
            </div>
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col text-center">
            <div class="new_arrivals_sorting">
                <ul class="arrivals_grid_sorting clearfix button-group filters-button-group">
                    @*<li class="grid_sorting_button button d-flex flex-column justify-content-center align-items-center active is-checked" data-filter="*">TẤT CẢ</li>*@
                    @foreach (var item in Model)
                    {
                        @*if (@item.Alias == "vot-cau-long" || @item.Alias == "quan-cau-long" || @item.Alias == "ao-cau-long" || @item.Alias == "giay-cau-long" || @item.Alias == "tui-cau-long" || @item.Alias == "phu-kien-cau-long")
                            {
                                <li class="grid_sorting_button button d-flex flex-column justify-content-center align-items-center" data-filter=".@item.Alias">@item.Title</li>
                            }*@
                        if (@item.Alias == "vot-cau-long")
                        {
                            <li class=" grid_sorting_button button d-flex flex-column justify-content-center align-items-center " data-filter=".vot-cau-long-lining, .vot-cau-long-yonex">@item.Title</li>
                        }
                        if (@item.Alias == "quan-cau-long")
                        {
                            <li class="grid_sorting_button button d-flex flex-column justify-content-center align-items-center" data-filter=".quan-cau-long-lining, .quan-cau-long-yonex, .vay-cau-long-lining, .vay-cau-long-yonex">Váy/@item.Title</li>
                        }
                        if (@item.Alias == "ao-cau-long")
                        {
                            <li class="autoShow grid_sorting_button button d-flex flex-column justify-content-center align-items-center active is-checked" data-filter=".ao-cau-long-lining, .ao-cau-long-yonex">@item.Title</li>
                        }
                        if (@item.Alias == "giay-cau-long")
                        {
                            <li class="grid_sorting_button button d-flex flex-column justify-content-center align-items-center" data-filter=".giay-cau-long-lining, .giay-cau-long-yonex">@item.Title</li>
                        }
                        if (@item.Alias == "tui-cau-long")
                        {
                            <li class="grid_sorting_button button d-flex flex-column justify-content-center align-items-center" data-filter=".tui-cau-long-lining, .tui-cau-long-yonex">@item.Title</li>
                        }
                        if (@item.Alias == "phu-kien-cau-long")
                        {
                            <li class="grid_sorting_button button d-flex flex-column justify-content-center align-items-center" data-filter=".cuon-can-cau-long, .day-cang-vot, .qua-cau-long, .tat-chan">@item.Title</li>
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="product-grid" data-isotope='{ "itemSelector": ".product-item", "layoutMode": "fitRows" }'>
                @Html.Action("Partial_ItemByCateId", "Products")
            </div>
        </div>
    </div>

}

<script>
    window.onload = function () {
        var votCauLongButton = document.querySelector('li.autoShow');
        if (votCauLongButton) {
            votCauLongButton.click();
        }
    };
</script>


