@model IEnumerable<WebBanHangOnline.Models.EF.ProductCategory>

@if (Model != null && Model.Any())
{

    <div class="banner">
        <div class="col text-center">
            <div class="section_title new_arrivals_title" style="font-family: 'FontAwesome' ">
                <h2 style="position: relative; top: -55px;">SẢN PHẨM CẦU LÔNG</h2>
            </div>
        </div>
        <div class="container">
            <div class="row">
                @foreach (var item in Model)
                {
                    if (@item.Alias == "vot-cau-long" || @item.Alias == "quan-cau-long" || @item.Alias == "ao-cau-long" || @item.Alias == "giay-cau-long" || @item.Alias == "tui-cau-long" || @item.Alias == "phu-kien-cau-long")
                    {
                        var url = "/danh-muc-san-pham/" + @item.Alias + "-" + @item.Id;
                        <div class="col-md-4">
                            <div class="banner_item align-items-center" style="background-image: url('@item.Icon')">
                                <div class="banner_category">
                                    <a href="@url">@item.Title</a>
                                </div>
                            </div>
                        </div>
                    }
                    @*<div class="col-md-4">
                        <div class="banner_item align-items-center" style="background-image: url(@item.Icon)">
                            <div class="banner_category">
                                <a href="/danh-muc-san-pham/@item.Alias-@(item.Id)">@item.Title</a>
                            </div>
                        </div>
                    </div>*@
                }

                @*<div class="col-md-4">
                    <div class="banner_item align-items-center" style="background-image:url(images/banner_2.jpg)">
                        <div class="banner_category">
                            <a href="categories.html">accessories's</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="banner_item align-items-center" style="background-image:url(images/banner_3.jpg)">
                        <div class="banner_category">
                            <a href="categories.html">men's</a>
                        </div>
                    </div>
                </div>*@
            </div>
        </div>
        <hr style=" position: relative; top: -582px; width: 977px; left: 268px;" />
        <hr style=" position: relative; width: 977px; left: 268px;" />
    </div>
}
