@model PagedList.PagedList<WebBanHangOnline.Models.EF.Product>
@using PagedList.Mvc;
@using PagedList;
@{
    ViewBag.Title = "Danh sách sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section naviheader{
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin/home" class="nav-link">Trang chủ</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin/category" class="nav-link">@ViewBag.Title</a>
        </li>
    </ul>
}
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Quản lý sản phẩm</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">@ViewBag.Title</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-6"><h3 class="card-title">@ViewBag.Title</h3></div>
                <div class="col-6">
                    @using (Html.BeginForm("index", "Products", FormMethod.Get, new { }))
                    {
                        <div class="input-group input-group-sm" style=" position: absolute; right: -8px; top: -6px; ">
                            @Html.TextBox("Searchtext", null, new { style = "width: 83%;border-radius: 4px 0 0 4px;background-color: aliceblue;", placeholder = "Tên sản phẩm ..." })
                            @*<input type="text" name="searchtext" class="form-control">*@
                            <span class="input-group-append">
                                <button type="submit" class="btn btn-info btn-flat" style="background-color: aliceblue;color: black;bo;border-right: 2px solid;border-top: 2px solid;border-bottom: 2px solid;border-radius: 0 6px 6px 0;"><i class="fas fa-search"></i></button>
                                <a href="#" class="btn btn-danger" id="BtnDeleteAll" style="margin-left: 10px;border-radius: 3px;">Xóa hết</a>
                            </span>
                        </div>
                    }
                </div>
            </div>

            
        </div>
        <div class="card-body">
            
            <table class="table table-hover">
                <thead>
                    <tr style="font-size: 16px;">
                        
                        <th >STT</th>
                        <th style="width: 88px">Hình ảnh</th>
                        <th style="width: 380px">Tên sản phẩm</th>
                        <th style="width: 150px">Danh mục</th>
                        <th style="width: 87px">Số lượng</th>
                        <th style="width: 102px">Giá</th>
                        <th style="width: 105px">Ngày tạo</th>
                        @*<th>Home</th>*@
                        <th style="width: 80px ">Hiển thị</th>
                        @*<th>Hot</th>
                    <th>Feature</th>
                    <th>Sale</th>*@
                        <th style="width:118px">
                            <div class="card-tools">
                                <a href="/admin/products/add" class=" btn btn-primary" style=" font-size: 14px; background-color: darkblue; ">Thêm mới</a>
                            </div>
                        </th>
                        <th style=" width: 0;"><input type="checkbox" id="SelectAll" /></th>
                    </tr>
                </thead>

                <tbody>
                    @if (Model != null && Model.Any())
                    {
                        var i = ((ViewBag.Page - 1) * ViewBag.PageSize) + 1;
                        foreach (var item in Model)
                        {
                            var strCheckHome = item.isHome ? "<i class='fa fa-check text-success'></i>" : "<i class='fas fa-times text-danger'></i>";
                            var strCheck = item.IsActive ? " <i class = 'fa fa-check text-success'></i> " : "<i class = 'fas fa-times text-danger'></i>";
                            var strCheckHot = item.isHot ? "<i class='fa fa-check text-success'></i>" : "<i class='fas fa-times text-danger'></i>";
                            var strCheckFe = item.isFeature ? "<i class='fa fa-check text-success'></i>" : "<i class='fas fa-times text-danger'></i>";
                            var strCheckSale = item.isSale ? "<i class='fa fa-check text-success'></i>" : "<i class='fas fa-times text-danger'></i>";

                            var strImg = "";
                            var CheckImage = item.ProductImages.FirstOrDefault(x => x.isDefault);
                            if (CheckImage != null)
                            {
                                strImg = CheckImage.Image;
                            }
                            <tr id="trow_@item.Id">
                                
                                <td>@i</td>
                                <td><img class="imgproduct" data-id="@item.Id" src="@item.ProductImages.FirstOrDefault(x=>x.isDefault).Image" width="50" /></td>
                                <td>@item.Title</td>
                                <td>@item.ProductCategory.Title</td>
                                <td>@item.Quantity</td>
                                <td>@WebBanHangOnline.Common.Common.FormatNumber(item.Price, 0)</td>
                                <td>@item.CreatedDate.ToString("dd/MM/yyyy")</td>
                                @*<td style="text-align:left">
                                    <a href='#' data-id="@item.Id" class="btnHome">@Html.Raw(strCheckHome)</a>
                                </td>*@
                                <td >
                                    <a href='#' data-id="@item.Id" class="btnActive" style=" position: relative; left: 17px; ">@Html.Raw(strCheck)</a>
                                </td>
                                @*<td style="text-align:left">
                                <a href='#' data-id="@item.Id" class="btnHot">@Html.Raw(strCheckHot)</a>
                            </td>
                            <td style="text-align:left">
                                <a href='#' data-id="@item.Id" class="btnFeature">@Html.Raw(strCheckFe)</a>
                            </td>
                            <td style="text-align:left">
                                <a href='#' data-id="@item.Id" class="btnSale">@Html.Raw(strCheckSale)</a>
                            </td>*@
                                <td>
                                    <a href="/admin/products/edit/@item.Id" class="btn btn-sm btn-primary">Sửa</a>
                                    <a href="#" data-id="@item.Id" class="btn btn-sm btn-danger btnDelete">Xóa</a>
                                </td>
                                <td><input type="checkbox" class="cbkItem" value="@item.Id" /></td>
                            </tr>
                            i++;
                        }

                    }
                    else
                    {
                        <tr>
                            <td colspan="4">Không có bản ghi nào!!!!</td>
                        </tr>
                    }
                </tbody>

            </table>
            <div style="text-align:center">
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
            </div>
        </div>
        
    </div>
    <!-- /.card-body -->
    <div class="card-footer">

    </div>
    <!-- /.card-footer-->
    
    <!-- /.card -->

</section>
<!-- /.content -->
<div id="dialog">
    <iframe id="myIframe" style="border: 0; width: 100%; height: 100%;"></iframe>
</div>
@section scripts{
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script>
        $(document).ready(function () {
            //display upload picture form
            $("#dialog").dialog({
                autoOpen: false,
                show: "fade",
                hide: "fade",
                modal: true,
                height: '600',
                width: '700',
                resizable: true,
                title: 'Quản lý ảnh sản phẩm',
                close: function () {
                    window.location.reload();
                }
            });
            $('body').on("click", ".imgproduct", function () {
                var proid = $(this).attr("data-id");
                $("#dialog #myIframe").attr("src", "/admin/ProductImages/Index?id=" + proid);
                $('#dialog').dialog('open');
                return false;
            });
            $('body').on('click', '#BtnDeleteAll', function (e) {
                e.preventDefault();
                var str = "";
                var checkbox = $(this).parents('.card').find('tr td input:checkbox');
                var i = 0;
                checkbox.each(function () {
                    if (this.checked) {
                        checkbox.attr('selected', 'checked');
                        var _id = $(this).val();
                        if (i === 0) {
                            str += _id;
                        } else {
                            str += "," + _id;
                        }
                        i++;
                    } else {
                        checkbox.attr('selected', '');
                    }
                });
                if (str.length > 0) {
                    var conf = confirm('Bạn có muốn xóa bản ghi đã chọn không?');
                    if (conf === true) {
                        $.ajax({
                            url: '/admin/products/deleteAll',
                            type: 'POST',
                            data: { ids: str },
                            success: function (rs) {
                                if (rs.success) {
                                    location.reload();
                                }
                            }
                        });
                    }
                }
            });
            $('body').on('change', '#SelectAll', function () {
                var checkStatus = this.checked;
                var checkbox = $(this).parents('.card-body').find('tr td input:checkbox');
                checkbox.each(function () {
                    this.checked = checkStatus;
                    if (this.checked == false) {
                        checkbox.attr('selected', 'checked');
                    }
                });
            });
            $('body').on('change', '.cbkItem', function () {
                var selectAllCheckbox = $('#SelectAll');
                var checkbox = $(this).parents('.card-body').find('tr td input:checkbox');
                var allChecked = true;

                checkbox.each(function () {
                    if (!this.checked) {
                        allChecked = false;
                        return false;
                    }
                });

                selectAllCheckbox.prop('checked', allChecked);
            });
            $('body').on('click', '.btnDelete', function () {
                var id = $(this).data("id");
                var conf = confirm('Bạn có muốn xóa bản ghi này không?');
                if (conf == true) {
                    $.ajax({
                        url: '/admin/products/delete',
                        type: 'POST',
                        data: { id: id },
                        success: function (rs) {
                            if (rs.success) $('#trow_' + id).remove();
                        }
                    });
                }
            });

            $('body').on('click', '.btnHome', function (e) {
                e.preventDefault();
                var btn = $(this);
                var id = btn.data("id");
                $.ajax({
                    url: '/admin/products/isHome',
                    type: 'POST',
                    data: { id: id },
                    success: function (rs) {
                        if (rs.success) {
                            if (rs.isHo) {
                                btn.html("<i class = 'fa fa-check text-success'></i>")
                            } else {
                                btn.html("<i class = 'fas fa-times text-danger'></i>")
                            }
                        }
                    }
                });
            });

            $('body').on('click', '.btnActive', function (e) {
                e.preventDefault();
                var btn = $(this);
                var id = btn.data("id");
                $.ajax({
                    url: '/admin/products/IsActive',
                    type: 'POST',
                    data: { id: id },
                    success: function (rs) {
                        if (rs.success) {
                            if (rs.isAct) {
                                btn.html("<i class = 'fa fa-check text-success'></i>")
                            } else {
                                btn.html("<i class = 'fas fa-times text-danger'></i>")
                            }
                        }
                    }
                });
            });

            $('body').on('click', '.btnHot', function (e) {
                e.preventDefault();
                var btn = $(this);
                var id = btn.data("id");
                $.ajax({
                    url: '/admin/products/IsHot',
                    type: 'POST',
                    data: { id: id },
                    success: function (rs) {
                        if (rs.success) {
                            if (rs.hot) {
                                btn.html("<i class = 'fa fa-check text-success'></i>")
                            } else {
                                btn.html("<i class = 'fas fa-times text-danger'></i>")
                            }
                        }
                    }
                });
            });

            $('body').on('click', '.btnFeature', function (e) {
                e.preventDefault();
                var btn = $(this);
                var id = btn.data("id");
                $.ajax({
                    url: '/admin/products/isFeature',
                    type: 'POST',
                    data: { id: id },
                    success: function (rs) {
                        if (rs.success) {
                            if (rs.isFe) {
                                btn.html("<i class = 'fa fa-check text-success'></i>")
                            } else {
                                btn.html("<i class = 'fas fa-times text-danger'></i>")
                            }
                        }
                    }
                });
            });

            $('body').on('click', '.btnSale', function (e) {
                e.preventDefault();
                var btn = $(this);
                var id = btn.data("id");
                $.ajax({
                    url: '/admin/products/IsSale',
                    type: 'POST',
                    data: { id: id },
                    success: function (rs) {
                        if (rs.success) {
                            if (rs.isSa) {
                                btn.html("<i class='fa fa-check text-success'></i>");
                            } else {
                                btn.html("<i class='fas fa-times text-danger'></i>");
                            }
                        }

                    }
                });
            });



        });
    </script>
}



