@model IEnumerable<WebBanHangOnline.Models.EF.Product>
@if (Model != null && Model.Any())
{
    foreach (var item in Model)
    {
        var strImge = "";
        var img = item.ProductImages.FirstOrDefault(x => x.isDefault);
        if (img != null)
        {
            strImge = img.Image;
        }

        <div class="product-item @item.ProductCategory.Alias">
            <a href="/chi-tiet/@item.Alias-p@(item.Id)">
                <div class="product discount product_filter">
                    <div class="product_image">
                        <img src="@strImge" alt="@item.Title">
                    </div>
                    <div style="top: -3px; text-transform: none;" class="product_bubble "><p style="font-size:10px">Đã xem: <b style="color: black">@item.ViewCount</b></p></div>
                    @if (item.PriceSale > 0)
                    {
                        <div class="product_bubble   d-flex flex-column align-items-center" style="background-color: #428BCA; margin-left: 170px; width: 45px; height: 45px; border-radius: 35px; margin-top: -9px;"><span style=" position: relative; top: 11px; text-transform: none; font-size: 18px;">Sale</span></div>
                    }
                    @* <div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"><span>-$20</span></div>*@
                    <div class="product_info" style="position:absolute; bottom:0; width:100%">
                        
                        <h6 class="product_name">@item.Title</h6>
                        @if (item.PriceSale > 0)
                        {
                            <div style="color: #428BCA " class="product_price">@WebBanHangOnline.Common.Common.FormatNumber(item.PriceSale, 0) đ<span>@WebBanHangOnline.Common.Common.FormatNumber(item.Price, 0) đ</span></div>
                            <div style="display: none;" class="in_product_price"> @item.PriceSale</div>
                        }
                        else
                        {
                            <div style="color: #428BCA " class="product_price">@WebBanHangOnline.Common.Common.FormatNumber(item.Price, 0) đ</div>
                            <div style="display: none;" class="in_product_price"> @item.Price</div>
                        }
                    </div>
                </div>
            </a>
            <div class="red_button add_to_cart_button"><a href="/chi-tiet/@item.Alias-p@(item.Id)" class="" data-id="@item.Id" style="background-color: #428BCA">Chi tiết sản phẩm</a></div>
        </div>

    }
}
